<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="yummy/header::header('详情页','详情')"></div>
<body>
<style type="text/css">
    img{
        width: 100%;
    }
</style>
<div class="content">
    <section class="jumbotron"
             th:style="'background:url(' + @{http://cdn.bulabula.xyz/read.jpg} + ');background-repeat:no-repeat;background-size:100% 100%;background-attachment: fixed;'">
        <div class="container">
            <div id="jumbotron-meta-info">
                <h2 th:text="${blogDetailVO.tittle}">标题</h2>
                <span class="meta-info">
                        <span class="octicon octicon-calendar">&nbsp;<th:block
                                th:text="${#dates.format(blogDetailVO.createTime, 'yyyy-MM-dd')}"></th:block></span>
                    &nbsp;&nbsp;<span class="octicon octicon-eye-watch">&nbsp;<th:block
                        th:text="${blogDetailVO.reading}"></th:block>
                             浏览</span>
                </span>
                <br>
                <br>
                <div class="tags post-tags">
                       <th:block th:each="tag : ${blogDetailVO.tagList}">
                        <a th:href="@{'/tag/' + ${tag.tagName}}" rel="tag" class="tag">
                            <th:block th:text="${tag.tagName}"></th:block>
                        </a>
                       </th:block>
                    </div>
            </div>
        </div>
    </section>
    <article class="post container">
        <div class="row" id="blog-content">
            <div class="col-md-12 markdown-body">
                <th:block th:utext="${blogDetailVO.content}"/>
                <!-- Comments -->
                <aside class="blog-rights clearfix">
                    <p>本站文章除注明转载/出处外，皆为作者原创，欢迎转载，但未经作者同意必须保留此段声明，且在文章页面明显位置给出原文连接，否则保留追究法律责任的权利。</p>
                </aside>
            </div>
        </div>
    </article>
</div>
</body>
<div th:replace="yummy/footer::footer"></div>
<!-- highlight -->
<link href="https://cdn.bootcss.com/highlight.js/9.18.1/styles/github.min.css" rel="stylesheet">
<!-- dictionary -->
<link rel="stylesheet" th:href="@{/plugins/dictionary/dictionary.css}">
<!-- sweetalert -->
<link href="https://cdn.bootcss.com/bootstrap-sweetalert/1.0.1/sweetalert.min.css" rel="stylesheet">
<script th:src="@{/js/modernizr.js}"></script>
<script th:src="@{/plugins/highlight/highlight.pack.js}"></script>
<script th:src="@{/plugins/dictionary/dictionary.js}"></script>
<script th:src="@{/plugins/comment/valid.js}"></script>
<script th:src="@{/plugins/comment/comment.js}"></script>
<!-- sweetalert -->
<script src="https://cdn.bootcss.com/sweetalert/2.1.2/sweetalert.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('pre code').each(function (i, block) {
            hljs.highlightBlock(block);
        });
        //创建博客目录
        createBlogDirectory("blog-content", "h2", "h3", 20);
    });
</script>
</html>